!!!
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{title}
    link(rel="stylesheet", href="/assets/css/app.css")
  body(class="page-#{ current.path[0] } #{ current.path.join('-') }")
    header
    article#content
      .container
        .row
          .col-sm-8.main
              != yield
          .col-sm-4.aside
            h2.brand
              a(href="/") #{title} 
            p I live in Greensboro, NC where I work crafting a better web
            p.small You can find me 
              a(href="http://twitter.com/#{twitter}") #{twitter}
            a(href="/"): img.aside-profile-img.aside-img(src="/assets/img/me.jpeg", alt="me")
    footer
      .container
        .row
          .col-sm-12
            p.copyright.pull-right &copy; #{title}
    
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js")
    script(src="/assets/js/app.js")