<div class="home-content">
  <h3 class="col">What's This?</h3>
  <p>Triad JS, is a group of developers and future developers with an interest in using JavaScript. We're working on scheduling our first meeting. There is a link below to tell us what works best for you. Once decided we'll post the date here and send out and email, so you should put your email address in the little box on the left. We will never send any email except announcing meeting dates, and information.</p>
  <p><a href="https://github.com/triadjs/meeting-times/issues/1">Tell us know whats the best day for you.</a></p>


  <h3 class="col">Organizers</h3>

  <div class="glass organizers">
    <div class="col half">
      <img class="half rounded" src="https://www.gravatar.com/avatar/1241f003b8bfcd6b0875ec4ed76711e3.jpg?s=200">
      <h4>Braden Douglass</h4>
      <p>In the past 4 years Braden has found and grown his passion for crafting code. Now, he create things using a combination of Ruby/Rails/Javascript/HTML/Vim but, this is always in flux. Braden currently work for the best damn place to work: CANADA.</p>
      <ul>
        <li><a href="https://github.com/braidn">Github</a></li>
        <li><a href="https://twitter.com/braidn">Twitter</a></li>
        <li><a href="http://cloudbacon.com">Website</a></li>
      </ul>
    </div>
    <div class="col half">
      <img class="half rounded" src="https://www.gravatar.com/avatar/ede3be53c3649afc4c0881c6713645f2.jpg?s=200">
      <h4>Jordan Cauley</h4>
      <p>Jordan is a terribly unreliable blogger, an exteremely reliable developer and a fan of JavaScript. He use JavaScript as a full stack and but spends most of his day as a Freelance Frontend Engineer. Jordan does not work for Canada.
      <ul>
        <li><a href="https://github.com/jdcauley">Github</a></li>
        <li><a href="https://twitter.com/jdcauley">Twitter</a></li>
        <li><a href="http://jordancauley.com">Website</a></li>
      </ul>
    </div>


</div>



<%
  var post = public.post._data,
      i = 0;
  for(var index in post) {
    if(i < 3) {
%>

  <div class="post">
    <h3><a href="<%= base_url %>/post/<%= index %>"><%= post[index].title %></a></h3>
    <%- partial("post/" + index) %>
  </div>

<% } else { %>

  <div class="others">
    <%= post[index].title %>
  </div>

<%
    }
  i++;
  }
%>
