<% var pages = public.pages._data;
  var page = null;
  for(var i = 0; i < pages.length; i++){
    if(pages[i].slug == current.source){
      page = pages[i];
    }
  }
%>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= site_title %></title>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500,700|PT+Mono' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="<%= base_url %>/assets/css/app.css">
  </head>
  <body class="page-<%- current.path[0] %>">

    <div class="col one-third left-col">
      <header class="main-header">
        <a class="logo" href="<%= base_url %>" title="<%= org_name %>"><img class="logo-img" src="<%= base_url %>/assets/imgs/cfg-logo.png"></a>
        <h4 class="site-title">Standards &amp; Practices</h4>
      </header>
      <nav class="bar-nav">
        <ul>
          <li>
          <% if(current.source === 'index'){ %>
            <a class="current" href="<%= base_url %>/">Home</a>
          <% } else { %>
            <a href="<%= base_url %>/">Home</a>
          <% } %>
          </li>
      <%
        var pages = public.pages._data;
        for(var k = 0; k < pages.length; k++){
      %>
        <% if(current.source === pages[k].slug){ %>
          <li>
            <a class="current" href="<%= base_url %>/pages/<%= pages[k].slug %>"><%= pages[k].title %></a>
          </li>
        <% } else { %>
          <li>
            <a href="<%= base_url %>/pages/<%= pages[k].slug %>"><%= pages[k].title %></a>
          </li>
        <% } %>
      <% } %>
        </ul>
      </nav>

    </div>
    <main class="col two-thirds offset-one-third right-col">
      <%- yield %>



    </main>
    <footer class="col two-thirds offset-one-third right-col main-footer">
      <div class="footer-inner">
        &copy; Code for Greensboro 2015
      </div>
    </footer>
    <script src="<%= base_url %>/assets/js/sprint.min.js"></script>
    <script src="<%= base_url %>/assets/js/app.js"></script>
    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
 </body>
</html>
